$text-colorone:white;
$text-colortwo:black;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}

.wrapper {
    margin: 5em;
    border: 1px solid teal;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: mixmax(40vh, auto);

    div {
        color: $text-colorone;
    }

    .box1 {
        background-color: rgb(122, 38, 190);
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .box2 {
        background-color: rgb(97, 97, 97);
    }

    .box3 {
        color: $text-colortwo;
        background-color: white;
        grid-column: 4/5;
        grid-row: 1/3;
    }

    .box4 {
        color: $text-colortwo;
        background-color: white;
    }

    .box5 {
        grid-column: 2/4;
        background-color: black;
    }
}

img {
    border-radius: 50%;
}